<h1><%=Item.human_attribute_name(:items)%> : </h1>



<body>
</br>
<% if @items.empty? %>
	<b>No items in store</b>
<% else %>
<table class ="items">
<tr>
	<th id="nam"><%= sortable 'id' %></th>
	<th id="nam"><%= sortable 'name' %></th>
	<th id="nam"><%= sortable 'price' %></th>
	<th id="nam"><%= sortable "created_at" %></th>
	<th id="nam"><%= sortable 'votes_count' ,'Raiting' %></th>
	<th id="nam">Delete/Edit</th>
	

	
</tr>


<% @items.each do |i| %>
	<tr>
		<td><%=  i.id %></td>
		<td><%=  link_to i.name, item_path(i) %>
		<p><%=  link_to (image_tag i.avatar),item_path(i)%></p></td>
		<td><%=  i.price %> uan </td>
		<td><%=i.created_at %></td>
		<td>Raiting: <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i),class: 'btn btn-success'  %> <%= link_to " -", subtract_item_path(i), class: 'btn btn-primary'%> </td>
		<td ><%=  button_to "Delete", i, method: :delete, data: { confirm: "are you sure?"},  class: 'btn btn-danger' %>
			<br/>
			<p><%= link_to edit_item_path(i), class: 'btn btn-warning' do %>
 			 <i class="glyphicon glyphicon-pencil"></i> Edit <% end %> </p>
		

	</tr>

	
<% end -%>
</table>
 <% end -%>
 </body>
